/*Aplicando variáveis CSS > Aplindo as variáveis -> Ainda tem que utilizar para fontes e outras coisas relacionadas a atividade 04 da aula 5*/
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
  --cor-principal: #000000;
  --cor-secundaria:#F6F6F6;
  --cor-terciaria:#22D4FD;
}

*{
  margin: 0;
  padding: 0;
}

body{
  /* height: 100vh;  o vh é o viewport height altura da viewport*/
  box-sizing: border-box; /*esse é para que o filho esteja dentro do elemento pai*/
  background-color: var(--cor-principal);
  color: var(--cor-secundaria);
}
.cabecalho {
  padding: 2% 0% 0% 15%;/*cima direita baixo esquerdo*/

}
/*Aqui utilizamos o PADING para trabalhar a posição dos elementos dentro do container */
.cabecalho__menu {
  display: flex;
  gap: 80px;
}

.cabecalho__menu__link {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: var(--cor-terciaria);
  text-decoration: none;
}


.apresentacao {
  padding: 5% 15%;
  /* margin: 10% 15%; */
  display: flex; /*quando criamos um display flex automaticamente ele ja joga na horizontal*/
  align-items: center; /*ele vai alinha os itens de acordo com o alinhamento deles*/
  justify-content: space-between; /*esse aqui é para separar nos extremos os itens*/
}
.apresentacao__conteudo {
  width: 615px;
  display: flex;
  flex-direction: column; 
  gap: 40px;
}
.apresentacao__conteudo__titulo {
  font-size: 36px;
  font-family: 'Krona One', sans-serif;
}
.titulo-destaque{
  color: var(--cor-terciaria);
}
.apresentacao_conteudo__texto{
  font-size: 24px;
  font-family: c;
}
.apresentacao__links {
  display: flex;
  flex-direction: column; /*nessa mudan;a de eixo as outras propiedades seguem ele*/
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.apresentacao__links__subtitulos {
  font-family:'Krona One', sans-serif;
  font-weight: 400;
  font-size: 24px;
}
.apresentacao__links__link {
/* Ctrl + K + C para comentar automaticamente */
 display: flex;
 justify-content: center;
 gap: 16px;

  
 width: 378px;
 text-align: center;
 border-radius: 8px; 
 font-size: 24px;
 padding: 21.5px 0;
 text-decoration: none;
 color: var(--cor-secundaria);
 font-family: 'Montserrat', sans-serif;
 font-weight: 600;
 border: 2px solid var(--cor-terciaria); /* esse solid e uma propriedade nativa - ??conferir se está pegando a cor??*/

}
.apresentacao__links__link:hover {
  background-color: #272727;
}

.rodape {
  padding: 24px;
  
  color: var(--cor-principal);
  background-color: var(--cor-terciaria);
  
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 400;


}